.accent-btn {
  padding: 15px 3rem;
  &:hover {
    text-decoration: none;
    color: unset;
  }
}

.btn-main {
  @extend .accent-btn;
  background-color: $theme-color;
  color: $text-white;
}

.btn-sec {
  @extend .accent-btn;
  border: 1px solid $theme-color;
  color: $text-primary;
}

.btn-blk {
  @extend .accent-btn;
  background-color: $bg-secondary;
  color: $text-white;
}

#scroll-top-button {
	display: block;
	position: fixed;
	top: 0;
	right: 30px;
    height: 100px;
    width: 30px;
    padding: 0px;
    transform: rotate(0deg) skew(0deg);
    border-left: 15px solid $theme-color;
    border-right: 15px solid $theme-color;
    border-bottom: 15px solid transparent;
    transition: 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	&:hover {
		cursor: pointer;
        height: 130px;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
    &::after {
        content: 'TOP';
        word-wrap: break-word;
        color: $text-white;
        display: block;
        font-weight: bold;
        position: relative;
        left: -5px;
        top: 6px;
    }
    
}