.category-container {
  @extend .container;
  max-width: 1169px;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  .category {
    border-radius: $border-radius;
    position: relative;
    transition: 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    overflow: hidden;
    &:hover {
      box-shadow: $material-shadow;
      transform: scale(1.05);
      .cat-desc {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0);
      }
    }
    .cat-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 2rem;
      z-index: 4;
      a {
        font-size: clamp(2rem, 4vw, 42px);
        color: $text-primary;
        margin: 0;
        font-weight: 600;
        line-height: 2.5rem;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-size: 14px;
      }
    }
    img {
      max-width: 540px;
      width: 100%;
      border-radius: $border-radius;
    }
    .cat-desc {
      position: absolute;
      bottom: 0;
      padding: 1rem 1rem 3rem;
      opacity: 0;
      text-align: center;
      background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.721) 88.7%,
        hsla(0, 0%, 0%, 0.762) 94.1%,
        hsla(0, 0%, 0%, 0.79) 100%
      );
      transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      pointer-events: none;
      transform: translateY(100%);
      p {
        text-align: left;
        margin-bottom: 2rem;
        color: $text-white;
      }
      a {
        padding: 10px 1.5rem;
        &:hover {
          color: $text-white !important;
        }
      }
    }
  }
}
