.page-header {
  position: relative;
  overflow: hidden;
  .page-search {
    position: absolute;
    top: 0;
    display: none;
  }
  .page-menu {
    position: absolute;
    // right: -360px;
    right: 0;
    max-width: 360px;
    width: 100%;
  }
}

#main-nav {
  border-bottom: 1px solid $border-color;
}

.main-nav {
  gap: 2rem;
  .menu-item {
    .nav-link {
      color: #000;
    }
  }
}

.dropdown-toggle {
  &::after {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 10px;
  }
}

.dropdown-menu {
  border-radius: 0;
}

.menu-option {
  display: flex;
  .iconify {
    cursor: pointer;
    font-size: 18px;
    height: 100%;
    vertical-align: unset;
  }
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.navbar-brand {
  color: $text-primary;
  position: relative;
  &:hover {
    color: unset;
  }
  h1 {
    margin: 0;
    &:hover {
      .bookmark {
        height: 35px;
      }
    }
  }
  .bookmark {
    position: absolute;
    right: -25px;
    top: 0;
    height: 25px;
    width: 8px;
    padding: 0px;
    transform: rotate(0deg) skew(0deg);
    border-left: 8px solid $theme-color;
    border-right: 8px solid $theme-color;
    border-bottom: 8px solid transparent;
    transition: 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
