body {
  font-family: $font-main;
  color: $text-primary;
}

p {
  font-family: $font-sec;
  color: $text-secondary;
}

span {
  font-family: $font-sec;
}

h2 {
  margin-bottom: 2rem;
}

.slick-arrow {
  &::before {
    color: $text-primary;
    font-size: 2rem;
  }
}

.slick-slide {
  min-height: 220px;
  margin: 0 1rem;
}

.section-wrapper {
  padding: 1.5rem 0;
  margin: 1.5rem 0;
}

.post-link {
  list-style-type: none;
  a {
    color: $text-white;
    &:hover {
      //   color: darken($text-white, 90%);
      color: unset;
    }
  }
}

.post-categories {
  padding: 0;
  margin: 0;
  li {
    @extend .post-link;
  }
}

.post-tags {
  @extend .post-link;
}

.two-col {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.col-desc {
  flex: 1;
  span {
    font-size: 12px;
  }
  h2 {
    font-size: clamp(2rem, 7vw, 48px);
    font-weight: 600;
  }
  p {
    color: $text-white;
    line-height: 2rem;
    max-width: 665px;
    width: 100%;
  }
}

.col-img {
  flex: 1;
  svg {
    width: 100%;
    height: 100%;
  }
}

.hero-wrapper {
  @extend .two-col;

  .hero-desc {
    @extend .col-desc;
    span {
      font-size: 14px;
      color: $theme-color;
    }
    h2 {
      font-size: clamp(3rem, 7vw, 64px);
    }
    p {
      color: $text-primary;
      max-width: 450px;
    }
    .hero-cta {
      margin-top: 3rem;
      a:nth-of-type(1) {
        margin-right: 3rem;
      }
    }
  }
  .hero-img {
    @extend .col-img;
  }
}

.about-wrapper {
  .container {
    position: relative;
    color: $text-white;
    .about-desc {
      position: absolute;
      width: 50%;
      top: 50%;
      transform: translate(0, -50%);
      padding: 2rem;
      @extend .col-desc;
      .about-cta {
        margin-top: 3rem;
      }
    }
    .about-img {
      @extend .col-img;
    }
  }
}

.collection-wrapper {
  @extend .two-col;
  .collection-desc {
    @extend .col-desc;
    p {
      color: $text-primary;
      max-width: 550px;
    }
    .collection-cta {
      margin-top: 3rem;
    }
  }
  .collection-img {
    @extend .col-img;
    .section-wrapper {
      margin-top: 8rem;
    }
    .books-container {
      gap: 2rem;
      .book {
        width: 260px;
        flex: none;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
        &:nth-of-type(even) {
          margin-top: -10rem;
        }
      }
    }
  }
}

.section-wrapper {
  .section-header {
    margin-bottom: 3rem;
    span {
      font-size: 12px;
    }
    h3 {
      font-size: clamp(2rem, 7vw, 48px);
      font-weight: 600;
    }
  }
  .section-btn {
    text-align: center;
    margin-top: 5rem;
    a {
      font-weight: 600;
      //   &:hover {
      //     color: initial !important;
      //   }
    }
  }
}

.faq-wrapper {
  .faq-container {
    display: flex;
    gap: 3rem;
    .faq-desc {
      @extend .col-desc;
    }
    .faq-img {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  .comment-block {
    border-radius: $border-radius-img;
    background-color: $bg-primary;
    padding: 1.5rem 1rem;
    flex: 22.5%;
    color: $text-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .comment {
      color: $text-white;
    }
    .author {
      color: $theme-color;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
      span {
        color: $text-white;
      }
    }
  }
}

.recent-smol {
  .slick-list {
    .slick-track {
      .book {
        flex-direction: row-reverse !important;
        gap: 0 !important;
        // flex: 33% !important;
      }
    }
  }
}

.page-template-template-books {
  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
}

.error-page-container {
  height: calc(100vh - 107px);
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .error-desc,
  .error-img {
    flex: 1;
  }
  .error-desc {
    h1 {
      font-weight: 600;
      font-size: clamp(2rem, 6vw, 78px);
      line-height: 5rem;
      color: $text-white;
      text-shadow: 0px 0px 0.1px black, -0px 0px 0.1px black,
        -0px -0px 0.1px black, 0px -0px 0.1px black, 0px 1px 0.1px black,
        -0px 1px 0.1px black, -0px -1px 0.1px black, 0px -1px 0.1px black,
        0px 2px 0.1px black, -0px 2px 0.1px black, -0px -2px 0.1px black,
        0px -2px 0.1px black, 1px 0px 0.1px black, -1px 0px 0.1px black,
        -1px -0px 0.1px black, 1px -0px 0.1px black, 1px 1px 0.1px black,
        -1px 1px 0.1px black, -1px -1px 0.1px black, 1px -1px 0.1px black,
        1px 2px 0.1px black, -1px 2px 0.1px black, -1px -2px 0.1px black,
        1px -2px 0.1px black, 2px 0px 0.1px black, -2px 0px 0.1px black,
        -2px -0px 0.1px black, 2px -0px 0.1px black, 2px 1px 0.1px black,
        -2px 1px 0.1px black, -2px -1px 0.1px black, 2px -1px 0.1px black,
        2px 2px 0.1px black, -2px 2px 0.1px black, -2px -2px 0.1px black,
        2px -2px 0.1px black, 0px 0px 0px hsla(0, 0%, 0%, 0), 0px 1px 0 #4a6868,
        0px 2px 0 #405959, 0px 3px 0 #354a4a, 0px 0px 0px hsla(0, 0%, 0%, 0),
        -4px 4px 6px black;
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 3rem 0 1rem;
    }
    #searchform {
      .input-group {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: $border-radius-img;
        .form-control {
          border-radius: $border-radius-img 0 0 $border-radius-img;
          padding: 2rem 1.5rem;
          border: 1px solid $border-color;
          border-right: none;
        }
        .input-group-append {
          .submit {
            border-radius: 0 $border-radius-img $border-radius-img 0;
            padding: 1rem 2rem;
            background: transparent;
            color: $theme-color;
            border: 1px solid $border-color;
            border-left: none;
            .iconify {
              font-size: 1.5rem;
              height: 100%;
              vertical-align: unset;
            }
          }
        }
      }
    }
    .footer-nav {
      border-right: unset !important;
      li::marker {
        color: $theme-color;
        font-size: 1.5rem;
        a:hover {
          color: $text-primary;
        }
      }
    }
  }
  .error-img {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
